* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://img.freepik.com/premium-photo/smooth-dark-blue-with-black-vignette-abstract-luxury-gradient-blue-background_920742-454.jpg?semt=ais_hybrid&w=740&q=80);
    background-size: cover;
    background-repeat: no-repeat;

}

input {
    padding: 10px;
    border-radius: 5px;
    margin: auto;
    display: block;
    width: 300px;
    margin: 30px auto;
    border: none;
}

button {
    padding: 10px 15px;
    border-radius: 5px;
    display: block;
    width: 300px;
    margin: 30px auto;
    border: none;
    background-color: teal;
    color: white;
    cursor: pointer;
    
}
body> button{
position: absolute;
top: 69px;
display: block;
width: 120px;
left: 62%;
}
.checkbox{
    width: 20px;
    height: 20px;
    top: -15px;
    right: 20px;
    position: absolute;
}
.save{
    background-color: green;
position: absolute;
top: 69px;
display: block;
width: 120px;
left: 62%;
}
h1 {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 5px 5px 3px white;
    border: 1px solid gray;
    display: block;
    margin: 30px auto;
    width: 300px;
}

h2 {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 5px 5px 3px white;
    display: block;
}

ul {
    list-style: none;
    margin: 40px auto;
    width: 800px;
    box-shadow: 5px 5px 10px gray;
    background-color: aliceblue;
    border-radius: 0.2cm;

    li {
        padding: 15px;
        border-bottom: 1px solid gray;
        display: flex;
        position: relative;
        width: 80%;
        display: inline-block;

        
    }
   .remove {
            display: inline-block;
            width: 10%;
            text-transform: uppercase;
            background-color: rgb(184, 27, 27);
        }

        .edit {
            text-transform: uppercase;
            width: 70px;
            margin-right: 10px;
            display: inline-block;
            background-color: rgb(41, 41, 234);
        }
}